
*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(to right,rgb(176, 174, 224),rgb(188, 125, 136));
}


img{
    width: 250px;
    
}


img:hover{
    scale: 1.3;
    transition-duration: 1.2s;

}


.box1{
    
    display:grid;
    grid-template-columns:  1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
gap:5px;
    margin:0px auto;
    width:90%;
    padding: 10px 10px;
    
}
 
.box{
margin:0px auto;
width: 90%;

}


.innerbox{
    width: 250px;
    margin:0px auto;
    overflow: hidden;

}



.main{
    background-color: antiquewhite;
    padding: 15px;
    width: 300px;
    text-align: center;
    margin:0px auto;
}


@media only screen and (max-width: 992px) {
    
    .box1{
        grid-template-columns:1fr 1fr ;

    }

    
    }


@media only screen and (max-width: 768px) {
   
    .box1{
        grid-template-columns:1fr 1fr ;

    }
  }
  @media only screen and (max-width: 600px) {
    
    .box1{
        grid-template-columns: 1fr ;

    }
  } 